---
#- name: Mount /proc if not mounted
#  mount:
#    path: /proc
#    src: proc
#    fstype: procfs
#    state: mounted

- name: Configure services
  lineinfile:
    path: /etc/rc.conf
    line: "{{ item }}"
  loop:
    - clear_tmp_enable="YES"
    - dntpd_enable="YES"
    - syslogd_flags="-ss"

- name: Set /etc/hosts.allow
  copy:
    src: hosts.allow
    dest: /etc/hosts.allow
    owner: root
    group: wheel
    mode: 0600
